.main{
    display: flex;
    height:100vh ;
    background: #f7f7f7;

    justify-content: center;
    align-items: center;
}
.card{
    height: 750px;
    width: 500px;
    background: #dfe3ee;
    border-radius: 5%;
    overflow: hidden;
    display: grid;
}
.grow { 
    transition: all 1s ease-in-out;
    justify-content: center;
}
.card:hover .grow{ 
    transform: scale(1.5);
    
}
.bg{
    height: 300px;
    width: 500px;
    z-index:0;
    margin-top: 23%;
    border-radius:2%;
    opacity:0;
    transition: 2s;
    /* transition-property: width,height; */
    position: absolute;
    background: linear-gradient(-180deg, rgba(253, 253, 253, 0.1) 0%, rgba(0,0,0,0.50) 100%);
    animation-play-state: paused;
}

.content{
    position:relative;
    text-align: center;
    /* transition-property:margin; */
    /* transition-duration: 3s; */
    transition-timing-function:linear;
    /* animation: content;
    animation-duration:2.5s;
    animation-direction:alternate;
    animation-play-state: paused; */

    color: #FFFFFF;

    transition:all 1.5s ease;
}
.card:hover .bg{
    opacity:1;
    /* transform: scale(1.2); */
    /* width: 500px;
    height:300px; */
}
.card:hover .content{
    /* animation-play-state:running; */
    /* margin-bottom: 100%; */
    transform: translate(0,-300px);
    
}
/* @keyframes content {
    from{top:300px}
    to{top:0}
} */