/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  background-image: url('https://cdn.pixabay.com/photo/2018/04/11/08/42/composition-3309860_960_720.jpg');
  background-position: center;
  background-size: cover;
}
h1{
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  max-width: 600px;
  box-sizing: border-box;
}
h2{
  margin: 0px;
}
#formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#form{
  max-width: 600px;
  background-image: linear-gradient(to right, #64B2CC 30%, #657980);
}
fieldset{
  border-width: 5px;
  padding: 10px 20px 20px 20px;
  border-color: #f2f2f2;
  justify-content: center;
}
input{
  margin: 15px 10px;
  padding: 15px;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
}
#fullName{
  display: flex;
  flex-wrap: wrap;
}
#fullName input{
  flex-grow: 1;
}
#otherInputs{
  display: flex;
  flex-wrap: wrap;
}
#otherInputs input{
  width: 100%;
}
#submit{
  display: block;
  margin: 0 auto;
  padding: 12px 0px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  background-color: #3E6F80;
  color: white;
  cursor: pointer;
}
    
  